{foreach from=$data item=i}
	<tr class="row_nya" plat="{$i.plat_number|default:''}" id_nya="{$i.id|default:''}" gbr_nya="{$i.file_foto|default:''}" gbr_plat="{$i.file_flat|default:''}">
      <td>{$i.plat_number|default:''}</td>
      <td>{$i.car_type|default:''}</td>
      <td>{$i.direction|default:''}</td>
      <td><span class="tag tag-success">{$i.capture_time|default:''}</span></td>
      <td><span class="tag tag-success">{$i.speed|default:''}</span></td>
    </tr>
{/foreach}

<script>
$(".row_nya").on('click',function(){
	//alert($(this).attr("id_nya")+" -> "+$(this).attr("plat"));
	var gb_mobil=$(this).attr("gbr_nya");
	var gb_plat=$(this).attr("gbr_plat");
	//console.log(gb_plat);
	
	$.post('{$host}modul/get_img',{ gb_mobil:gb_mobil,gb_plat:gb_plat },function(r){
		var json=JSON.parse(r);
		//console.log(json.gb_mobil);
		$(".gbr_mobil").attr("src", "data:image/jpg;base64,"+json.gbr_mobil);
		$(".gbr_plat").attr("src", "data:image/jpg;base64,"+json.gbr_plat);
	});
	
	
});
function previewFile() {
  const preview = document.querySelector('img');
  const file = document.querySelector('input[type=file]').files[0];
  const reader = new FileReader();

  reader.addEventListener("load", function () {
    // convert image file to base64 string
    preview.src = reader.result;
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}
</script>