<div class="row">
          <!-- Left col -->
     <div class="col-lg-12 ">
            <!-- Custom tabs (Charts with tabs)-->
			
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Setting IP Camera
                </h3>
               
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <div class="span10">
						<form class="form-horizontal" id="form_ip_{$acak}" url="{$host}modul/cruddata/tbl_seting_camera" method="post" enctype="multipart/form-data">
							<table class="table table-bordered table-hovered">
								<thead style="background:#3C8DBC;color:#fff;">
									<tr>
										<th style="text-align:left;;vertical-align:middle;" >IP Camera</th>
										<th style="text-align:left;;vertical-align:middle;">Deskripsi</th>
										<th style="text-align:left;;vertical-align:middle;">Port</th>
										<th style="text-align:left;;vertical-align:middle;">User</th>
										<th style="text-align:left;;vertical-align:middle;">Pwd</th>
										<th style="text-align:center;;vertical-align:middle;width:50px;"><a href="javascript:void(0);" class="btn btn-sm btn-warning" onclick="tambah_row('bd_email','{$acak}')">+</a></th>
									</tr>
								</thead>
								
								<tbody style="background:#D4E8F4;" class="bd_email">
									{foreach from=$ip item=i}
									<tr class="tr_em" id="tm_1" idx=1>
										<td>
											<input type="text" name="ip[]" onKeyup="this.value = this.value.toUpperCase()"  class="validasi " style="width:100%" value="{$i.ip|default:''}">
										</td>
										<td>
											<input type="text" name="deskripsi[]" id="deskripsi_{$acak}" class="" style="width:100%" value="{$i.deskripsi|default:''}">
										</td>
										<td>
											<input type="text" name="port[]" id="port_{$acak}" class="" style="width:100%" value="{$i.port|default:''}">
										</td>
										<td>
											<input type="text" name="usr[]" id="usr_{$acak}" class="" style="width:100%" value="{$i.usr|default:''}">
										</td>
										<td>
											<input type="text" name="pwd[]" id="pwd_{$acak}" class="" style="width:100%" value="{$i.pwd|default:''}">
										</td>
										<td style="text-align:center;;vertical-align:middle;"><a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="$(this).parents('tr').first().remove();" >-</a></td>
									</tr>
									{/foreach}
								</tbody>
							</table>
							
						</form>
						<div class="control-group">
							<center>
							<label class="control-label" for="form-field-1"></label>
							<div class="controls">
								{include file="template/button_save.html" id_na="simpan_ip_{$mod}"  btn_goyz="true" text="Ganti"}
							</div>
							</center>
						</div>		
					</div>
				  
                </div>
              </div><!-- /.card-body -->
            </div>
			
          
   </div>
   <div class="col-lg-12 ">
            <!-- Custom tabs (Charts with tabs)-->
			
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Setting Path FTP
                </h3>
               
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <div class="span10">
						<form class="form-horizontal" id="form_{$acak}" url="{$host}modul/cruddata/tbl_seting_path" method="post" enctype="multipart/form-data">
						<table class="table table-hover">
								<input type="hidden" name="id" value="{$data.id|default:$auth.id}">
								<input type="hidden" name="sts_crud" value="edit">
								{include file="template/input_form.html" type='text' label="Path FTP TP 50 *" id="path_ftp" name="path_ftp" style_type="width:80%" class="validasi" value="{$path.path_ftp|default:''}"}
								{include file="template/input_form.html" type='text' label="Path Transfer File/Pindah File *" id="path_cut" name="path_cut" style_type="width:80%" class="validasi" value="{$path.path_cut|default:''}"}
								
						</table>
							
						</form>
						<div class="control-group">
							<center>
							<label class="control-label" for="form-field-1"></label>
							<div class="controls">
								{include file="template/button_save.html" id_na="simpan_{$mod}"  btn_goyz="true" text="Ganti"}
							</div>
							</center>
						</div>		
					</div>
				  
                </div>
              </div><!-- /.card-body -->
            </div>
			
          
   </div>
</div>
<script>
var idx_row={$jml_row|default:1};
$('#simpan_ip_{$mod}_{$acak}').click(function(){
		$(".validasi").validatebox({ required:true }); 
		if ($('#form_ip_{$acak}').form('validate')){
			submit_form('form_ip_{$acak}',function(r){
				if(r==1){
					winLoadingClose();
					$.messager.alert('VMS',"Data Tersimpan",'info');
				}else{
					winLoadingClose();
					$.messager.alert('VMS',"Data Gagal Tersimpan",'error');
					console.log(r);
				}
			});
		}else{
			$.messager.alert('VMS',"Isi Form Yang Kosong",'error');
		}

	});
$('#simpan_{$mod}_{$acak}').click(function(){
		$(".validasi").validatebox({ required:true }); 
		if ($('#form_{$acak}').form('validate')){
			submit_form('form_{$acak}',function(r){
				if(r==1){
					winLoadingClose();
					$.messager.alert('VMS',"Data Tersimpan",'info');
				}else{
					winLoadingClose();
					$.messager.alert('VMS',"Data Gagal Tersimpan",'error');
					console.log(r);
				}
			});
		}else{
			$.messager.alert('VMS',"Isi Form Yang Kosong",'error');
		}

	});
</script>