<div class="col-xl-8 col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>TOTAL COUNTING KENDARAAN</h5>
				<div class="card-header-right">
					<ul class="list-unstyled card-option">
						<li><i class="feather icon-maximize full-card"></i></li>
						<li><i class="feather icon-minus minimize-card"></i>
						</li>
						<li><i class="feather icon-trash-2 close-card"></i></li>
					</ul>
				</div>
			</div>
			<div class="card-block">
				<div id="chart_klass_{$acak}" style="height:320px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-md-4">
		<div class="card">
			<div class="dt-responsive table-responsive">
				<table id="table-style-hover" class="table table-striped table-hover table-bordered nowrap">
					<thead>
						<tr>
							<th>No.</th>
							<th>Jam</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tiger Nixon</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							
						</tr>
						<tr>
							<td>Garrett Winters</td>
							<td>Accountant</td>
							<td>Tokyo</td>
							
						</tr>
					
					</tbody>
					
				</table>
			</div>
		</div>
</div>
<script>
$(document).ready(function(){
	$('#mobile-collapse').trigger('click');
	gr_total();
	gr_table_total();
});
{literal}	
function gr_total(){	
	$.post(host+'modul/get_chart/t_kendaraan',{ },function(r){
		var js=JSON.parse(r);
		//console.log(js);
		//$('#chart_{$acak}').removeClass('loading');
		//chart_na('chart_{$acak}','line','','','',js.x,js.y,'');
		$('#chart_klass_{/literal}{$acak}{literal}').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Total Kendaraan Periode 1 Minggu'
			},
			subtitle: {
				text: ''
			},
			accessibility: {
				announceNewData: {
					enabled: true
				}
			},
			xAxis: {
				type: 'category'
			},
			yAxis: {
				title: {
					text: 'Total'
				}

			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}'
					}
				}
			},

			tooltip: {
				headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
				pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
			},

			series: js
		});
	});
}
function gr_table_total(){
	$.post(host+'modul/get_table/t_jam',{ },function(r){
		//var js=JSON.parse(r);
		
	});
}
{/literal}
</script>