
<script src="{$host}__assets/js/jquery.min.js"></script>
<script src="{$host}__assets/js/highcharts.js"></script>
<script src="{$host}__assets/js/fungsi.js"></script>

<div id="chart_kecepatan_{$acak}"></div>
<script>
	//$( document ).ready(function() {
		chart_na('chart_kecepatan_{$acak}','pie',"Klasifikasi Kecepatan","berdasarkan kecepatan");
	//});
	
</script>